<div class="card text-xs-center z-depth-0 lime lighten-5">

    <div class="card-block">

        <a href="#"><i class="fa fa-check" aria-hidden="true"></i> ضمانت مناسب ترین قیمت</a>

    </div>

</div>