<section class="factor-section">

    <h2>مشاهده فاکتور</h2>
    <hr />

    <div class="row ">

        <div class="col-md-12">

            <table class="table table-bordered">

                <thead>
                    <tr class="table-success">
                        <th>ردیف</th>
                        <th>عنوان</th>
                        <th>قیمت واحد</th>
                        <th>درصد تخفیف</th>
                        <th>قیمت کل</th>
                        <th>امکانات</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <th scope="row">1</th>
                        <td>اتاق ، دو عدد تخت یکنفره - کتاب قصر بوتانیک</td>
                        <td>2,133,000 ریال</td>
                        <td>0%</td>
                        <td>2,133,000 ریال</td>
                        <td>
                            <a class="btn btn-sm btn-danger"><i class="fa fa-times"></i> حذف</a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>اتاق ، دو عدد تخت یکنفره - کتاب قصر بوتانیک</td>
                        <td>2,133,000 ریال</td>
                        <td>0%</td>
                        <td>2,133,000 ریال</td>
                        <td>
                            <a class="btn btn-sm btn-danger"><i class="fa fa-times"></i> حذف</a>
                        </td>
                    </tr>

                </tbody>

            </table>

            <h3>خلاصه صورتحساب شما</h3>


            <table class="table summary">

                <tbody>

                    <tr>
                        <td>جمع کل خرید شما:</td>
                        <td>2,133,000 ریال</td>
                    </tr>

                    <tr>
                        <td>جمع کل تخفیف:</td>
                        <td>0 ریال</td>
                    </tr>

                    <tr>
                        <td>9% مالیات بر ارزش افزوده:</td>
                        <td>191,970 ریال</td>
                    </tr>

                    <tr>
                        <td>جمع کل قابل پرداخت:</td>
                        <td>2,133,000 ریال</td>
                    </tr>

                </tbody>

            </table>

            <h3>پرداخت</h3>

            <div class="row payment-select">

                <label class="col-md-2">انتخاب درگاه پرداخت</label>
                <select class="mdb-select col-md-5">

                    <option value="" disabled selected>انتخاب کنید</option>
                    <option value="" data-icon="../../Content/imgs/Parsian.png" class="img-circle">بانک پارسیان</option>

                </select>

            </div>
            <div class="row payment-forms">

                <div class="col-md-6">

                    <!--Form with header-->
                    <div class="card login-form">

                        <!--Header-->
                        <div class="form-header cyan lighten-4">
                            <h3>ورود و پرداخت</h3>
                        </div>

                        <div class="card-block">

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form3" class="form-control">
                                <label for="form3">نام کاربری</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="form2" class="form-control">
                                <label for="form2">رمز عبور</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-question prefix"></i>
                                <input type="text" id="form4" class="form-control">
                                <label for="form4">حاصل جمع 36 و 14 چه عددی است؟</label>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn cyan btn-lg btn-block">ورود</button>

                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer">

                            <div class="options">

                                <p>
                                    هنوز عضو نشدید ? <a href="#">ثبت نام کنید</a>
                                </p>

                            </div>

                        </div>

                    </div>
                    <!--/Form with header-->

                </div>

                <div class="col-md-6">

                    <!--Form with header-->
                    <div class="card fast-payment-form">

                        <!--Header-->
                        <div class="form-header light-green lighten-4">
                            <h3>پرداخت سریع</h3>
                        </div>

                        <div class="card-block">

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="txtEmail" class="form-control">
                                <label for="txtEmail">پست الکترونیک</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-phone prefix"></i>
                                <input type="text" id="txtPhone" class="form-control">
                                <label for="txtPhone">شماره تماس</label>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn light-green btn-lg btn-block">پرداخت سریع</button>
                            </div>

                        </div>

                    </div>
                    <!--/Form with header-->

                </div>

            </div>

        </div>

    </div>
</section>
