<div class="card creditcard-offer z-depth-0 lime lighten-5">

    <div class="card-block">

        <span class="list-title purple-text">در این سفر تو 400 امتیاز به دست آوردی:</span>

        <ul class="v-list">

            <li>200 امتیاز برای ثبت از طریق بوکنت</li>

            <li>200 امتیاز برای پرداخت آنلاین</li>

        </ul>

    </div>

</div>