
<header id="header">

    <h1><a title="بازگشت به صفحه اصلی" href="index.html">پرتال گردشگری بوکنت</a></h1>
    <p> بزرگترین پرتال رزرواسیون آنلاین کتاب و رزرو بلیط در ایران </p>

</header><!-- // header -->

<nav class="navbar one-nav">

    <div class="container">

        <ul class="nav  navbar-nav top-nav">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>حساب کاربری
                </a>

                <div class="dropdown-menu dropdown-secondary" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-login">ورود کاربر</a>

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-register">ثبت نام</a>

                </div>

            </li>

        </ul>

        <a class="brand pull-left" href="/" title="بوکنت" target="_blank">
            <img src="~/Content/imgs/logo.png" title="بوکنت" alt="بوکنت" />
        </a>

    </div>

</nav>


<!--/.Navbar-->
