<div class="modal fade" id="modal_map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <header>

                    <h4 class="modal-title" id="myModalLabel">کتاب قصر بوتانیک</h4>

                    <p>مازندران ، کیلومتر 10 جاده گرگان به ساری</p>

                </header>
            </div>
            <!--Body-->
            <div class="modal-body">

                <div id="map-container" class="z-depth-1 map" style="height: 300px"></div>

            </div>
            <!--Footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن نقشه</button>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
