<div class="modal fade" id="modal_around" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <header>

                    <h4 class="modal-title">مکان های اطراف کتاب قصر بوتانیک</h4>

                    <p>مازندران ، کیلومتر 10 جاده گرگان به ساری</p>

                </header>
            </div>
            <!--Body-->
            <div class="modal-body">

                <span class="list-title">مکان های اطراف</span>

                <ul class="v-list">

                    <li>موج سواری</li>

                    <li>قایق سواری</li>

                    <li>چتر بازی</li>

                    <li>کلاس های گلف</li>

                    <li>کلاس های تناسب اندام</li>

                    <li>بسکتبال</li>

                    <li>قایقرانی</li>

                </ul>

            </div>
            <!--Footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن نقشه</button>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
