<div class="card warn amber lighten-5 z-depth-1">

    <span class="info-circle z-depth-1">

        <i class="fa fa-info" aria-hidden="true"></i>

    </span>

    <div class="card-block">

        <p>توجه کنید:</p>

        <ul>

            <li>در صورتی که اطلاعات زیر را اشتباه وارد نموده اید و یا نیاز به تغییر آن دارید میتوانید از دکمه بازگشت استفاده کنید.</li>

            <li>لطفاً اطلاعات وارده شده را کنترل کرده و پس از اطمینان از درستی آن‌ها، برای پرداخت هزینه اقدام کنید</li>

            <li>برای کودکان زیر 2 سال می‌توانید با پرداخت حدود 10 درصد هزینه بلیط در فرودگاه اقدام به خرید نمایید.</li>

            <li>با پرکردن فرم زیر شما می‌پذیرید که . «قوانین و مقررات» را خوانده و پذیرفتید</li>

            <li>لطفا اطلاعات مسافران را در زیر به صورت و کامل و صحیح وارد کنید</li>

        </ul>

    </div>

</div>
