<div class="col-md-4">

    <span class="list-title"><i class="fa fa-map-marker"></i>موقعیت جغرافیایی:</span>

    <ul class="v-list">

        <li>
            <i class="fa fa-cab"></i>فاصله تا فرودگاه: <span>10 کیلومتر</span>
        </li>

        <li>
            <i class="fa fa-cab"></i>فاصله تا ترمینال: <span>5 کیلومتر</span>
        </li>

        <li>
            <i class="fa fa-cab"></i>فاصله تا راه آهن: <span>10 کیلومتر</span>
        </li>

    </ul>

    <div id="map-container" class="z-depth-1 map" style="height: 200px"></div>

</div>
