<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <i class="fa fa-bell" aria-hidden="true"></i>اعلان ها

    </a>

    <span class="counter">2</span>

    <div class="dropdown-menu dropdown-secondary" aria-labelledby="dropdownMenu2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

        <!--First Notification-->
        <div class="media">

            <a class="media-left waves-light">

                <img class="img-circle" src="~/Content/imgs/650-450-1.jpg" alt="امکان رزرو بلیط هواپیما اضافه شد">

            </a>

            <div class="media-body">

                <h3 class="media-heading">امکان رزرو بلیط هواپیما اضافه شد</h3>

                <p>
                    از این به بعد رزرو بلیط هواپیما هم از وبسایت بوکنت امکان پذیره. اطلاعات لازم برای رزرو بلیط هواپیما را میتونید از لینک زیر بدست بیارید. .
                    <br />
                    <a href="#">اطلاعات لازم رزرو بلیط هواپیما</a>
                </p>

            </div>

        </div>
        <!--First Notification-->

        <hr />

        <!--Second Notification-->
        <div class="media">

            <a class="media-left waves-light">

                <img class="img-circle" src="~/Content/imgs/650-450-13.jpg" alt="امکان رزرو بلیط هواپیما اضافه شد">

            </a>

            <div class="media-body">

                <h3 class="media-heading">امکان رزرو بلیط هواپیما اضافه شد</h3>

                <p>
                    از این به بعد رزرو بلیط هواپیما هم از وبسایت بوکنت امکان پذیره. اطلاعات لازم برای رزرو بلیط هواپیما را میتونید از لینک زیر بدست بیارید. .
                    <br />
                    <a href="#">اطلاعات لازم رزرو بلیط هواپیما</a>
                </p>

            </div>

        </div>
        <!--Second Notification-->

    </div>

</li>
