<div class="card">

    <div class="card-block">

        <div class="booking-item-img">

            <img src="~/Content/imgs/650-450-6.jpg" />

        </div>

        <div class="booking-item-desc">

            <h3>کتاب قصر بوتانیک</h3>

            <ul class="rating">

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star-o"></i></li>

            </ul>

            <a href="#" data-toggle="modal" data-target="#modal_map"><i class="fa fa-map-marker"></i>نقشه </a>

            <a href="#" data-toggle="modal" data-target="#modal_around"><i class="fa icon-pedestrian-walking"></i>نقاط قابل توجه اطراف </a>

        </div>

        <div class="booking-item-summary">

            <div class="desc-item-box">

                <span class="desc-item-title">1 اتاق:</span>
                <span class="desc-item-description">اتاق معمولی ، دو تخته</span>

            </div>


            <div class="desc-item-box">

                <span class="desc-item-title">رزرو: </span>
                <span class="desc-item-description">جمعه 18 تیر</span>

                <span class="desc-item-title">تحویل: </span>
                <span class="desc-item-description">جمعه 24 تیر</span>

                <span class="desc-item-description">6 شب اقامت</span>

            </div>

            <div class="desc-item-box text-success">

                <span class="desc-item-title">تعجب نکن: </span>
                <span class="desc-item-description">تخفیف قیمت رو میتونی اینجا ببینی:</span>

            </div>

            <table class="table ">
                <tbody>
                    <tr>
                        <th scope="row">6 شب</th>
                        <td>1,800,000 ریال</td>

                    </tr>
                    <tr>
                        <th scope="row">مالیات و دستمزد</th>
                        <td>300,000 ریال</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>هزینه کل : 2.100.000 ریال</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <hr />

    <div class="card-block">

        <div class="booking-item-img">

            <img src="~/Content/imgs/650-450-6.jpg" />

        </div>

        <div class="booking-item-desc">

            <h3>کتاب قصر بوتانیک</h3>

            <ul class="rating">

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star"></i></li>

                <li><i class="fa fa-star-o"></i></li>

            </ul>

            <a href="#" data-toggle="modal" data-target="#modal_map"><i class="fa fa-map-marker"></i>نقشه </a>

            <a href="#" data-toggle="modal" data-target="#modal_around"><i class="fa icon-pedestrian-walking"></i>نقاط قابل توجه اطراف </a>

        </div>

        <div class="booking-item-summary">

            <div class="desc-item-box">

                <span class="desc-item-title">1 اتاق:</span>
                <span class="desc-item-description">اتاق معمولی ، دو تخته</span>

            </div>


            <div class="desc-item-box">

                <span class="desc-item-title">رزرو: </span>
                <span class="desc-item-description">جمعه 18 تیر</span>

                <span class="desc-item-title">تحویل: </span>
                <span class="desc-item-description">جمعه 24 تیر</span>

                <span class="desc-item-description">6 شب اقامت</span>

            </div>

            <div class="desc-item-box text-success">

                <span class="desc-item-title">تعجب نکن: </span>
                <span class="desc-item-description">تخفیف قیمت رو میتونی اینجا ببینی:</span>

            </div>

            <table class="table ">
                <tbody>
                    <tr>
                        <th scope="row">6 شب</th>
                        <td>1,800,000 ریال</td>

                    </tr>
                    <tr>
                        <th scope="row">مالیات و دستمزد</th>
                        <td>300,000 ریال</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>هزینه کل : 2.100.000 ریال</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>