
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>404 error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <link href="~/Content/css/404.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <!-----start-wrap--------->
    <div class="wrap">
        <!-----start-content--------->
        <div class="content">
            <!-----start-logo--------->
            <div class="logo">
                <h1><a href="#">

                        <img src="/Content/imgs/404/logo.png" /></a></h1>
                <span>

                    خطا!! صفحه درخواستی شما یافت نشد
                    <img src="/Content/imgs/404/signal.png" />
                 </span>
            </div>
            <!-----end-logo--------->
            <!-----start-search-bar-section--------->
            <div class="buttom">
                <div class="seach_bar">
                    <p>شما میتوانید به <span><a href="/Home/Index">صفحه اصلی</a></span> بازگردید</p>
                    <a href="/Home/Index"><i style="font-size:60px;color:white" class="fa fa-home"></i></a>
                </div>
            </div>
            <!-----end-sear-bar--------->
        </div>
    </div>

    <!---------end-wrap---------->
</body>
</html>