<section id="bestOffers">

    <div class="divider-new">

        <h2 class="h2-responsive wow fadeInDown">پیشنهادهای برتر</h2>

    </div>

    <div class="best-offers view main-bg">

        <div class="container">

            <div class="row ftm-tabs wow fadeInRight">

                <div class="col-md-3">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-pills pills-primary" role="tablist">

                        <li class="nav-item">

                            <a class="nav-link active" data-toggle="tab" href="#panel21" role="tab"><i class="fa fa-map-marker" aria-hidden="true"></i> آسیا</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" data-toggle="tab" href="#panel22" role="tab"><i class="fa fa-map-marker" aria-hidden="true"></i> اروپا</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" data-toggle="tab" href="#panel23" role="tab"><i class="fa fa-map-marker" aria-hidden="true"></i> آمریکا</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" data-toggle="tab" href="#panel24" role="tab"><i class="fa fa-map-marker" aria-hidden="true"></i> آفریقا</a>

                        </li>

                    </ul>

                </div>

                <div class="col-md-9">

                    <!-- Tab panels -->
                    <div class="tab-content vertical ftm-tab-body">

                        <!--Panel 1-->
                        <div class="tab-pane fade in active" id="panel21" role="tabpanel">

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-10.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-2.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-1.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-3.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-4.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-5.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                        </div>
                        <!--/.Panel 1-->
                        <!--Panel 2-->
                        <div class="tab-pane fade" id="panel22" role="tabpanel">

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-6.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-7.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-8.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-9.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-10.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-11.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                        </div>
                        <!--/.Panel 2-->
                        <!--Panel 3-->
                        <div class="tab-pane fade" id="panel23" role="tabpanel">
                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-10.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-2.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-1.jpg" alt="کتاب نمونه" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-3.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-4.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-5.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                        </div>
                        <!--/.Panel 3-->
                        <!--Panel 4-->
                        <div class="tab-pane fade" id="panel24" role="tabpanel">

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-6.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-7.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-8.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-9.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-10.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                                <div class="col-md-4">

                                    <article>

                                        <a href="#" title="">

                                            <h3>کتاب نمونه</h3>

                                            <p>تهران</p>

                                            <img src="~/Content/imgs/650-450-11.jpg" alt="کتاب نمونه" title="" />

                                        </a>

                                    </article>

                                </div>

                            </div>

                        </div>
                        <!--/.Panel 4-->

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>