<section id="discount">

    <div class="divider-new">

        <h2 class="h2-responsive wow fadeInDown">تخفیف های ویژه</h2>

    </div>


    <div id="discounts" class="discount-section">

        <div class="container">

            <div class="row ">

                <div class="col-md-12">

                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item wow fadeInRight" data-ride="carousel">

                        <!--Controls-->
                        <div class="controls-top">

                            <a class="btn-floating btn-small right" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                            <a class="btn-floating btn-small left" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>

                        </div>
                        <!--/.Controls-->
                        <!--Indicators-->
                        <ol class="carousel-indicators">

                            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>

                            <li data-target="#multi-item-example" data-slide-to="1"></li>

                            <li data-target="#multi-item-example" data-slide-to="2"></li>

                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">

                                <div class="col-md-4">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic1.jpg" class="img-fluid" alt="رزرو کتاب در کیش">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">
                                                20<i>%</i>
                                            </span>

                                        </div>
                                        <!--/percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">رزرو کتاب در کیش</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                رزرو مجهزترین کتاب در کیش با تخفیف ویژه برای مدت محدود
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic2.jpg" class=" img-fluid" alt="تور سفر به بابل">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">75<i>%</i></span>

                                        </div>
                                        <!--/percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">تور سفر به بابل</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                تور چهار روزه سفر به بابل با تخفیف ویژه
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic3.jpg" class="img-fluid" alt="تور سفر به شیراز">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">40<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">تور سفر به شیراز</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                تور یک هفته ای سفر به شیراز با تخفیف ویژه
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                            </div>
                            <!--/.First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">

                                <div class="col-md-4">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic4.jpg" class="img-fluid" alt="رزرو کتاب الوند">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">35<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">رزرو کتاب الوند</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                تخفیف ویژه برای رزرو یک هفته ای کتاب الوند با تمامی امکانات
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic3.jpg" class="img-fluid" alt="تور سفر به شیراز">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">40<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">تور سفر به شیراز</h3>

                                            <hr>
                                            <!--Text-->
                                            <p class="card-text">
                                                تور یک هفته ای سفر به شیراز با تخفیف ویژه
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic4.jpg" class="img-fluid" alt="رزرو کتاب الوند">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">35<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">رزرو کتاب الوند</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                تخفیف ویژه برای رزرو یک هفته ای کتاب الوند با تمامی امکانات
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                            </div>
                            <!--/.Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">

                                <div class="col-md-4">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic2.jpg" class=" img-fluid" alt="تور سفر به بابل">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">75<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">تور سفر به بابل</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                تور چهار روزه سفر به بابل با تخفیف ویژه
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic1.jpg" class="img-fluid" alt="رزرو کتاب در کیش">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">20<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">رزرو کتاب در کیش</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                رزرو مجهزترین کتاب در کیش با تخفیف ویژه برای مدت محدود
                                            </p>

                                            <div class="text-xs-center">
                                                <a class="btn btn-primary">مشاهده</a>
                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                                <div class="col-md-4 hidden-sm-down">

                                    <article class="card">

                                        <!--Card image-->
                                        <div class="view overlay hm-white-slight">

                                            <img src="~/Content/imgs/offer-pic1.jpg" class="img-fluid" alt="رزرو کتاب در کیش">

                                            <a>
                                                <div class="mask"></div>
                                            </a>

                                        </div>
                                        <!--/.Card image-->
                                        <!--Percent-->
                                        <div class="card-share">

                                            <span class="btn-floating btn-action share-toggle warning-color-dark">20<i>%</i></span>

                                        </div>
                                        <!--/Percent-->
                                        <!--Card content-->
                                        <div class="card-block">

                                            <!--Title-->
                                            <h3 class="card-title">رزرو کتاب در کیش</h3>

                                            <hr>

                                            <!--Text-->
                                            <p class="card-text">
                                                رزرو مجهزترین کتاب در کیش با تخفیف ویژه برای مدت محدود
                                            </p>

                                            <div class="text-xs-center">

                                                <a class="btn btn-primary">مشاهده</a>

                                            </div>

                                        </div>
                                        <!--/.Card content-->

                                    </article>

                                </div>

                            </div>
                            <!--/.Third slide-->

                        </div>
                        <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->

                </div>

            </div>

            <div class="row flex-center more">

                <button type="button" class="btn btn-primary wow fadeInUp">موارد بیشتر</button>

            </div>

        </div>


    </div>

</section>