<section id="festivals">

    <div class="divider-new">

        <h2 class="h2-responsive wow fadeInDown">فستیوال ها</h2>

    </div>

    <div class="festivals wow fadeInRight">

        <div class="container">

            <p class="text-md-center m-b-r">برای شرکت در بزرگترین فستیوال های دنیا از همین الان برنامه ریزی کن</p>

            <div class="row">

                <div class="grid">

                    <div class="col-md-4">

                        <article class="effect-marley">

                            <img src="~/Content/imgs/Carnevale-di-Venezia.jpg" alt="Carnival of Venice" />

                            <div class="caption">

                                <h2>Carnival of Venice</h2>

                                <ul>

                                    <li>2 بهمن 95</li>
                                    <li>ونیز</li>

                                </ul>

                                <a href="#">View more</a>

                            </div>

                        </article>

                    </div>

                    <div class="col-md-4">

                        <article class="effect-marley">

                            <img src="~/Content/imgs/Holi-Festival-Images.4.jpg" alt="Holi Festival" />

                            <div class="caption">

                                <h2>Holi Festival</h2>

                                <ul>

                                    <li>2 بهمن 95</li>
                                    <li>هند</li>

                                </ul>

                                <a href="#">View more</a>

                            </div>

                        </article>

                    </div>

                    <div class="col-md-4">

                        <article class="effect-marley">

                            <img src="~/Content/imgs/halloween1.jpg" alt="Battle of Oranges" />

                            <div class="caption">

                                <h2>Battle of Oranges</h2>

                                <ul>

                                    <li>2 بهمن 95</li>
                                    <li>ونیز</li>

                                </ul>

                                <a href="#">View more</a>

                            </div>

                        </article>

                    </div>

                </div>

            </div>

            <div class="row flex-center more">

                <button type="button" class="btn btn-primary wow fadeInUp">موارد بیشتر</button>

            </div>

        </div>

    </div>

</section>