<section id="todayOffers">

    <div class="divider-new">

        <h2 class="h2-responsive wow fadeInDown">پیشنهادهای امروز</h2>

    </div>

    <div class="sec-top-deal">

        <div class="row">

            <div class="one-col grid">

                <article class="effect-box">

                    <div class="img" style="background-image: url('/Content/imgs/img-1.jpg')">

                    </div>

                    <div class="caption">

                        <h2>پرواز به <span> جزیره کیش</span></h2>

                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>

                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>
                            <li><i class="icon-building-filled"></i>کتاب نمونه</li>

                        </ul>

                    </div>

                </article>

            </div>

            <div class="three-col grid">

                <article class="effect-box">

                    <div class="img" style="background-image: url('/Content/imgs/img-2.jpg')"></div>

                    <div class="caption">

                        <h2>تور <span> دبی</span></h2>

                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>

                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>
                            <li><i class="icon-building-filled"></i>کتاب نمونه</li>

                        </ul>

                    </div>

                </article>

            </div>

            <div class="one-col grid">

                <article class="effect-box">

                    <div class="img" style="background-image: url('/Content/imgs/img-3.jpg')">

                    </div>

                    <div class="caption">

                        <h2>رزرو کتاب در <span> شیراز</span></h2>

                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>

                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>
                            <li><i class="icon-building-filled"></i>کتاب نمونه</li>

                        </ul>

                    </div>

                </article>

            </div>

            <div class="three-col grid">

                <article class="effect-box">

                    <div class="img" style="background-image: url('/Content/imgs/img-4.jpg')">

                    </div>

                    <div class="caption">

                        <h2>پرواز به <span> جزیره کیش</span></h2>


                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>

                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>
                            <li><i class="icon-building-filled"></i>کتاب نمونه</li>

                        </ul>

                    </div>

                </article>

            </div>

            <div class="one-col grid">

                <article class="effect-box ">

                    <div class="img" style="background-image: url('/Content/imgs/img-5.jpg')">

                    </div>

                    <div class="caption">

                        <h2>تور سفر به <span>اصفهان</span></h2>

                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>
                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>
                            <li><i class="icon-building-filled"></i>کتاب نمونه</li>
                        </ul>

                    </div>

                </article>

            </div>

            <div class="one-col grid">

                <article class="effect-box">

                    <div class="img" style="background-image: url('/Content/imgs/dubai.jpg')"></div>

                    <div class="caption">

                        <h2>تور <span> دبی</span></h2>

                        <a href="#">View more</a>

                        <div class="content-box">

                            <p>تور دبی با پرواز روزانه تابان و فلای دبی، ترانسفر فرودگاهی، خدمات ویژه فرودگاهی، بیمه نامه مسافرتی و کتاب ارزان قیمت ویژه نوروز 95</p>

                        </div>

                        <ul>

                            <li class="flight"><img src="~/Content/imgs/taban.png" data-toggle="tooltip" data-placement="top" alt="پرواز تابان" />پرواز تابان</li>

                        </ul>

                    </div>

                </article>

            </div>

        </div>

    </div>

</section>