<section id="weblogs">

    <div class="divider-new">

        <h2 class="h2-responsive wow fadeInDown">برگزیده وبلاگ</h2>

    </div>


    <div id="weblog" class="weblog wow fadeInRight">

        <div class="container">

            <!--First row-->
            <div class="row">

                <div class="col-md-6 blog-item">

                    <!--First column-->
                    <div class="col-md-5">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight">

                            <img src="~/Content/imgs/650-450-1.jpg" alt="عنوان اول برای وبلاگ">

                            <a>
                                <div class="mask"></div>
                            </a>

                        </div>

                    </div>
                    <!--/First column-->
                    <!--Second column-->
                    <div class="col-md-7">

                        <!--Excerpt-->
                        <h3>عنوان اول برای وبلاگ</h3>

                        <p>در اینجا توضیحات مربوط به وبلاگ قرار می گیرد.در اینجا توضیحات مربوط به وبلاگ قرار می گیرد ...</p>

                        <span>1395/08/05  </span>

                        <a class="btn btn-primary read-more">ادامه مطلب</a>

                    </div>
                    <!--/Second column-->

                </div>

                <div class="col-md-6 blog-item">

                    <!--First column-->
                    <div class="col-md-5">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight">

                            <img src="~/Content/imgs/650-450-2.jpg" alt="عنوان اول برای وبلاگ">

                            <a>
                                <div class="mask"></div>
                            </a>

                        </div>

                    </div>
                    <!--/First column-->
                    <!--Second column-->
                    <div class="col-md-7">

                        <!--Excerpt-->
                        <h3>عنوان اول برای وبلاگ</h3>

                        <p>در اینجا توضیحات مربوط به وبلاگ قرار می گیرد.در اینجا توضیحات مربوط به وبلاگ قرار می گیرد ...</p>

                        <span>1395/08/05  </span>

                        <a class="btn btn-primary read-more">ادامه مطلب</a>

                    </div>
                    <!--/Second column-->

                </div>

            </div>
            <!--/First row-->
            <!--Second row-->
            <div class="row">

                <div class="col-md-6 blog-item">

                    <!--First column-->
                    <div class="col-md-5">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight">

                            <img src="~/Content/imgs/650-450-3.jpg" alt="عنوان اول برای وبلاگ">

                            <a>
                                <div class="mask"></div>
                            </a>

                        </div>

                    </div>
                    <!--/First column-->
                    <!--Second column-->
                    <div class="col-md-7">

                        <!--Excerpt-->
                        <h3>عنوان اول برای وبلاگ</h3>

                        <p>در اینجا توضیحات مربوط به وبلاگ قرار می گیرد.در اینجا توضیحات مربوط به وبلاگ قرار می گیرد ...</p>

                        <span>1395/08/05  </span>

                        <a class="btn btn-primary read-more">ادامه مطلب</a>

                    </div>
                    <!--/Second column-->

                </div>



                <div class="col-md-6 blog-item">

                    <!--First column-->
                    <div class="col-md-5">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight">

                            <img src="~/Content/imgs/650-450-4.jpg" alt="عنوان اول برای وبلاگ">

                            <a>
                                <div class="mask"></div>
                            </a>

                        </div>

                    </div>
                    <!--/First column-->
                    <!--Second column-->
                    <div class="col-md-7">

                        <!--Excerpt-->
                        <h3>عنوان اول برای وبلاگ</h3>

                        <p>در اینجا توضیحات مربوط به وبلاگ قرار می گیرد.در اینجا توضیحات مربوط به وبلاگ قرار می گیرد ...</p>

                        <span>1395/08/05  </span>

                        <a class="btn btn-primary read-more">ادامه مطلب</a>

                    </div>
                    <!--/Second column-->

                </div>

            </div>
            <!--/Second row-->

            <div class="row flex-center more">

                <button type="button" class="btn btn-primary wow fadeInUp">موارد بیشتر</button>

            </div>

        </div>

    </div>

</section>