
<div class="row">

    <div class="col-md-6">
        <div id="map-container2" class="z-depth-1 map" style="height: 300px"></div>
    </div>

    <div class="col-md-6 dt-map-desc">

        <h3 class="m-b-2">نمای کلی از کتاب قصر بوتانیک:</h3>

        <h4>منطقه جغرافیایی:</h4>

        <p>
            استادیوم تنیس در دو کیلومتری این کتاب قرار دارد. فاصله این کتاب با فرودگاه گرگان 15 کیلومتر می باشد.
            پارک جنگلی در فاصله 20 کیلومتری قرار دارد و دسترسی به ایستگاه مترو آسان است.
        </p>

        <h4>ویژگی های کتاب:</h4>

        <p>دو رستوران و یک کافی شاپ در این کتاب قرار دارد. wifi رایگان در محوطه کتاب و پارکینگ رایگان .دو رستوران و یک کافی شاپ در این کتاب قرار دارد. wifi رایگان در محوطه کتاب و پارکینگ رایگان .</p>

        <h4>امکانات اتاق:</h4>

        <p>همه ی اتاق های این کتاب مجهز به اینرنت وای فای هستند. اتاق ها دارای تلویزیون و کانال های مربوطه هستند. امکان پذبرایی از مهمان با پذیرایی 24 ساعته وجود دارد.</p>

    </div>

</div>
