<section class="list-header view hm-black-strong">

    <div class="full-bg-img">

        <div class="container">

            <div class="row destination-box">

                <div class="col-md-6">

                    <p>مقصد در:</p>

                    <p>تهران، ایران</p>

                </div>

                <div class="col-md-4">

                    <p>سفر در تاریخ: </p>

                    <p>شنبه 19 تیر - جمعه 25 تیر</p>

                </div>

                <div class="col-md-2">

                    <a href="#" id="show_booksearch">تغییر جستجو <i class="fa fa-search" aria-hidden="true"></i></a>

                </div>

            </div>

            <div class="row hiddendiv quick-search">

                <form>

                    <div class="col-md-5">

                        <div class="md-form">

                            <input type="text" id="hotelDestination" class="form-control">

                            <label class="active" for="hotelDestination">مبدأ</label>

                        </div>

                    </div>


                    <div class="col-md-3">

                        <div class="md-form">

                            <input placeholder="انتخاب کنید" type="text" id="hotel_start_date" class="form-control datepicker">

                            <label for="date-picker-example">تاریخ رفت</label>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="md-form">

                            <input placeholder="انتخاب کنید" type="text" id="hotel_end_date" class="form-control datepicker">

                            <label for="date-picker-example">تاریخ برگشت</label>

                        </div>

                    </div>

                    <div class="col-md-1">

                        <button type="button" id="booksearch" class="btn btn-primary"> جستجو </button>

                    </div>



                    <!--Body-->
                </form>

            </div>

        </div>

    </div>

</section>