<h3>فیلتر کردن کتاب ها با:</h3>

<div class="v-checklist">

    <span class="title">درجه بندی برحسب ستاره:</span>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_star_5">

        <label for="chk_star_5">5 ستاره</label>

        <ul class="rating">

            <li>
                <i class="fa fa-star"></i>
            </li>

            <li>
                <i class="fa fa-star"></i>
            </li>

            <li>
                <i class="fa fa-star"></i>
            </li>

            <li>
                <i class="fa fa-star"></i>
            </li>

            <li>
                <i class="fa fa-star"></i>
            </li>

        </ul>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_star_4">

        <label for="chk_star_4">4 ستاره</label>

        <ul class="rating">

            <li><i class="fa fa-star"></i></li>

            <li><i class="fa fa-star"></i></li>

            <li><i class="fa fa-star"></i></li>

            <li><i class="fa fa-star"></i></li>

        </ul>

        <span>(4)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_star_3">

        <label for="chk_star_3">3 ستاره</label>

        <ul class="rating">

            <li><i class="fa fa-star"></i></li>

            <li><i class="fa fa-star"></i></li>

            <li><i class="fa fa-star"></i></li>

        </ul>

        <span>(22)</span>
    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_star_2">

        <label for="chk_star_2">2 ستاره</label>

        <ul class="rating">

            <li>
                <i class="fa fa-star"></i>
            </li>

            <li>
                <i class="fa fa-star"></i>
            </li>
        </ul>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_star_1">

        <label for="chk_star_1">1 ستاره</label>

        <ul class="rating">

            <li>
                <i class="fa fa-star"></i>
            </li>

        </ul>

        <span>(2)</span>

    </fieldset>

</div>

<div class="v-checklist">

    <span class="title">قیمت هر شب:</span>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_price_per_night_1">

        <label for="chk_price_per_night_1">کمتر از 50 هزار تومان </label>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_price_per_night_2">

        <label for="chk_price_per_night_2">بین 50 تا 100 هزار تومان</label>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_price_per_night_3">

        <label for="chk_price_per_night_3">بین 100 تا 150 هزار تومان</label>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_price_per_night_4">

        <label for="chk_price_per_night_4">بین 150 تا 200 هزار تومان </label>

        <span>(2)</span>

    </fieldset>

    <fieldset class="form-group">

        <input type="checkbox" class="filled-in" id="chk_price_per_night_5">

        <label for="chk_price_per_night_5">بیشتر از 200 هزار تومان</label>

        <span>(2)</span>

    </fieldset>

</div>
