
.icon-flight:before { content: '\e800'; } /* '' */
.icon-infinity:before { content: '\e801'; } /* '' */
.icon-headphones:before { content: '\e802'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-gym-weight:before { content: '\e805'; } /* '' */
.icon-parking-sign:before { content: '\e806'; } /* '' */
.icon-smoking-sign:before { content: '\e807'; } /* '' */
.icon-dumbbell-for-training:before { content: '\e808'; } /* '' */
.icon-plane-taking-off:before { content: '\e809'; } /* '' */
.icon-arraving-airplane:before { content: '\e80a'; } /* '' */
.icon-airport:before { content: '\e80b'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-pedestrian-walking:before { content: '\e80e'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */